{
  "extends": [
    "react-app"
  ],
  "rules": {
    "no-var": [
      "error"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-console": "warn",
    "no-unexpected-multiline": "error"
  }
}