.Instructor {
  display: flex;
  .Instructor-CalendarComponent {
    width: 40%;
    border: none;
    .rc-calendar-input-wrap {
      display: none;
    }
    .rc-calendar-date-panel {
      .rc-calendar-header {
        .rc-calendar-prev-year-btn {
          display: none;
        }
        .rc-calendar-next-year-btn {
          display: none;
        }
      }
      .rc-calendar-body {
        width: 80%;
        margin: 0 auto;
      }
      .rc-calendar-footer {
        display: none;
      }
    }
  }
}
