@import "~react-md/src/scss/react-md";

$ams-primary-color: #1565c0;
$ams-primary-color-dark: #1356a3;
$ams-disable: #a5a5a5;
$ams-primary-color-light: rgba(21, 101, 192, 0.38);
$ams-accent-color: #ffa726;

$md-primary-color: $ams-primary-color;
$md-secondary-color: $md-deep-orange-400;
$md-avatar-size: 30px;
