.lesson-item {
  background: #fff;
  transition: all ease-in-out 400ms;
  flex-grow: 1;
  .imgwapper {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .info-details {
    position: relative;
    padding: 16px;
    color: #6f7379;
    .info-details-title {
      color: #6f7379;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .card-button {
      position: absolute;
      border-radius: 0;
      background: #2a7bdb;
      top: 15px;
      right: 15px;
      padding: 0;
      width: 30px;
      height: 30px;
      .md-icon {
        color: white;
      }
    }
    .plus-button {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    .info-details {
      .info-details-title {
        color: #2a7bdb;
      }
      .plus-button {
        .md-icon {
          color: #2a7bdb;
        }
      }
    }
  }
}
