.Aquarium {
  .Aquarium-tabsInsctroctor {
    display: flex;
    .Instructor-CalendarComponent {
      width: 100%;
      border: none;
      .rc-calendar-input-wrap {
        display: none;
      }
      .rc-calendar-date-panel {
        .rc-calendar-header {
          .rc-calendar-prev-year-btn {
            display: none;
          }
          .rc-calendar-next-year-btn {
            display: none;
          }
        }
        .rc-calendar-body {
          width: 80%;
          margin: 0 auto;
        }
        .rc-calendar-footer {
          display: none;
        }
      }
    }
    .SideBar-header-info {
      display: flex;
      justify-content: center;
      .SideBar-header-avatar {
        text-align: center;
        .SideBar-avatar {
          height: 80px;
          width: 80px;
        }
      }
      .SideBar-header-description {
        text-align: center;
      }
    }
  }
}
