$primary: #1665c1;
$secondary: #939393;
$white: #fff;
$grey: #eeedee;
$greySeconday: #e0e0e0;
$menuGrey: #e1e1e0;
$dark: #1e1e1e;
$lightBlue: #0084bf;
$highlightBlue: #e6f0ff;
$red: red;
$success: #5cb85c;
$greyOfTaskBackground: #f2f2f2;
$greyOfTaskText: #545454;
$darkGrey: #636466;
$bgAssetManagement: #eeeeee;
$colorTextManagementAsset: #666666;
$borderAssetManagement: #aaaaaa;
$dialogDiscuss: #98b8e5;
$greenColor: #64ffda;
$errorColor: #f50057;
