$blue: #2a7bdb;
$lightBlue: #149fed;
$green: #1de9b6;
$lightGreen: #00fbc8;
$yellow: #f5c228;
$red: #f44236;
$purple: #a389da;
$lightPurple: #c2a5ff;

$darker: #202224;
$darkGrey: #393c40;
$grey: #6f7379;
$lightGrey: #aaaeb3;
$highlightGrey: #c6cacf;
$backgroundLightGrey: #ebebeb;
