@import "../../Themes/first";

.Dashboard {
  &.md-cell {
    margin: 40px auto 8px;
  }
}
.Dashboard-tabs {
  &.md-tabs {
    padding: 0 23px;
    margin-bottom: 20px;
  }
  li {
    max-width: fit-content;
    min-width: auto;
    padding: 0 7px 7px;
    color: $grey;
    .md-tab-label {
      font-size: 15px;
    }
    &.md-tab--active {
      color: $blue;
      .md-tab-label {
        font-weight: bold;
      }
    }
  }
  .md-tab-indicator {
    background: $blue;
  }
}

.first-tab {
  width: 100%;
  .top-position {
    background: white;
    padding: 0;
    margin: 8px;
    .img-left {
      overflow: hidden;
      max-height: 230px;
      margin: 0;
      &.md-cell--12-tablet {
        @media (max-width: 839px) and (min-width: 600px) {
          width: auto;
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .card-right {
      margin: 16px;
      padding-left: 16px;
      @media (max-width: 839px) and (min-width: 600px) {
        padding-top: 16px;
        padding-left: 0;
      }
    }
  }
}

.bottom-position {
  position: relative;
  &.md-grid {
    padding-top: 60px;
  }
  .gp-button {
    position: absolute;
    top: 18px;
    right: 14px;
    .switchView {
      background: white;
      border-radius: 0;
      margin-right: 2px;
    }
  }
}

.second-tab {
  flex-grow: 1;
  .side-section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}

.third-tab {
  flex-grow: 1;
  .bloc-section {
    display: flex;
    min-width: 344px;
  }
}

.bloc {
  flex-grow: 1;
  background: white;
  margin-bottom: 16px;
  padding: 15px 15px 0;
  color: $grey;
  .bloc-header {
    border-bottom: 1px solid $highlightGrey;
    padding-bottom: 15px;
    .bloc-title {
      font-size: 20px;
    }
  }
  .bloc-content {
    .event-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid $backgroundLightGrey;
      .event-item-date {
        font-size: 20px;
        margin-left: 10px;
        .event-item-day {
          font-size: 22px;
          font-weight: bold;
        }
      }
      .event-item-title {
        font-weight: bold;
      }
    }
    .skill-item {
      &:last-child {
        padding-bottom: 20px;
      }
      &:first-child {
        padding-top: 20px;
      }
    }
  }
}
