@import "../../Themes/first";
.topBar {
  width: 100%;
  background-color: white;
  color: $lightGrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
  top: 0;
  & .md-icon {
    color: $lightGrey;
  }
  & .md-tile-content {
    flex-grow: 0;
  }
  .topBar-logo {
    color: $blue;
    font-weight: bold;
    font-size: 35px;
    margin-right: auto;
    /*.topBar-logo-avatar {
            border: none;
            width: 100px;
            background: transparent;
        }*/
  }
  .Navigation {
    .menu-withLogin {
      margin: 0 auto;
      .menuButton {
        height: 55px;
        font-size: 16px;
        font-weight: normal;
        color: $lightGrey;
      }
    }
  }
  .topBar-info {
    display: flex;
    align-items: center;
    .nameStudent {
      margin: 0 20px;
    }
    .apptitlebar-collapse-btn {
      border-radius: 0;
      height: 100%;
      width: 24px;
      padding: 0;
    }
  }
  @media (max-width: 1107px) {
    padding: 0 30px;
    .Navigation {
      .menu-withLogin {
        .menuButton {
          font-size: 14px;
          &.md-btn--text {
            padding: 8px;
          }
        }
      }
    }
  }
}
