@import "../../Themes/first";
.topBar {
  width: 100%;
  background-color: white;
  color: $lightGrey;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
  & .md-icon {
    color: $lightGrey;
  }
  & .md-tile-content {
    flex-grow: 0;
  }
  .topBar-logo {
    color: $blue;
    font-weight: bold;
    font-size: 35px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    /*.topBar-logo-avatar {
            border: none;
            width: 100px;
            background: transparent;
        }*/
  }
  .Navigation {
    flex-grow: 1;
    text-align: right;
    .menu-withLogin {
      margin-top: 0;
      margin-bottom: 0;
      .menuButton {
        height: 55px;
        font-size: 16px;
        font-weight: normal;
        color: $lightGrey;
      }
    }
  }
  .topBar-info {
    display: flex;
    align-items: center;
    .nameStudent {
      margin: 0 20px;
    }
    .apptitlebar-collapse-btn {
      border-radius: 0;
      height: 100%;
      width: 24px;
      padding: 0;
    }
  }
}
