.text-click {
  .text-click-icon {
    &.hidden {
      display: none;
    }
  }
  .text-click-text {
    &.hidden {
      display: none;
    }
    .text-click-submit {
      float: right;
      margin: 8px 0;
      border: 1px solid #2a7bdb;
      &.md-text {
        color: #2a7bdb;
      }
    }
  }
}

.text-click-button {
  min-height: 100px;
  width: 100%;
  .md-icon-separator {
    flex-direction: column;
    justify-content: center;
    color: #c4c6c7;
    .md-icon-text {
      flex-grow: 0;
      margin-top: 10px;
    }
  }
}
