@import '~react-md/src/scss/react-md';
$md-primary-color: $md-light-blue-a-700;
$md-secondary-color: $md-light-blue-600;
@include react-md-everything;
@import "./Themes/first";


@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("./fonts/CenturyGothic-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/CenturyGothic-Italic.woff2") format("woff2"),
    url("./fonts/CenturyGothic-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/CenturyGothic-BoldItalic.woff2") format("woff2"),
    url("./fonts/CenturyGothic-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/CenturyGothic.woff2") format("woff2"),
    url("./fonts/CenturyGothic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
} 

html, html body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background: $backgroundLightGrey;
}
h1, h2, h3, h4, h5, h6, p,
* {
    color: inherit;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
b, strong{
    font-weight: bold;
}  